



.line {
    border: dashed;
    color: #f2f2f2;
    Position: relative;
    Left: 0Px;
}
.fam-pic{
    height:600px ;
    width: 1000px;
    padding: 50px 250px;

}
.about-us{
   border:#efa9b1 1px solid;
   height: 130px;
   width: 900px; 
   margin:50px 230px;
   padding: 50px 70px;

}
.about-heading{
    text-align: center;
    padding-bottom:30px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.about-text{
    text-align: justify;

}
.mission-vision{
    border:#efa9b1 1px solid;
    padding: 25px;
    height:130px;
    width:300px;
    margin  : 50px;

}
.about-img{
    height:40px;
    text-align: center;
}
.about{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
   
}
.store-info{
    background-color:#efa9b1 ;
    height: 130px;
    width: 900px; 
    justify-content: center;
    text-align: justify;
    margin:50px 280px;
    display: flex;
    flex-direction: row;
    padding: 25px;
    
}
.shop-description{
    margin-left: 40px;
    margin: 20px;
}
.shop-logo{
    margin: 20px;
}