body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.colors {
    color: #3db6bc;
    color: #054b4e;
    color: black;
    color: white;
    color: #efa9b1;
    color: #f0c14a;
    color: #e1b9b9;
}


.nav-bar {
    background-color: #efa9b1;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

.shop-logo {
    height: 60px;
    margin: 5px;
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options-div {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-options-div:hover {
    background-color: transparent;
    color: white;
}

.special-option {
    padding: 5px 10px;
    font-size: 20px;
}

.nav-options {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 5px;
}

.more-options {
    position: relative;
}

.more-options-list {
    visibility: hidden;
    position: absolute;
    background-color: #efa9b1;
    margin: 0;
    top: 20px;
    left: 10px;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
}

.more-options:hover>.more-options-list {
    visibility: visible;
}

.list-anchors {
    text-decoration: none;
    color: black;
}

.list-anchors:hover {
    color: white;
}

/* combination of selectors*/
.nav-options-div:hover>.nav-options {
    color: white;
}

.footer {
    background-color: #ffe6a7;
    padding: 10px 0;
    margin-top: 20px;

}

.sections-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

.footer-sections {
    width: 200px;
    color: black;
    background-color: transparent;
}

.section-title {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.about-links {

    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.section-links {
    margin-left: 15px;
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.mail-link {
    text-decoration: none;
    color: black;
}

.section-links :hover {
    color: rgb(205, 58, 44);
}

.copyright {
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}


@media screen and (max-width: 500px) {
    .nav-bar {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px;
    }

    .shop-logo {
        margin-left: 0px;
    }

    .nav-options {
        font-size: 15px;
    }

    .nav-options-div {
        font-size: 15px;
    }



    .sections-container {
        display: flex;
        justify-content: space-between;
        margin: 5px 50px;
    }

    .footer-sections {
        margin-right: 10px;
        width: 100px;
    }

    .section-title {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .section-links {
        font-size: 10px;
    }

    .about-links {
        font-size: 10px;
        text-decoration: none;
        color: black;
    }

    .section-links {
        padding: 0px;
        margin-left: 0px;
        font-size: 10px;
        text-decoration: none;
        color: black;
    }

    .copyright {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .mail-link {
        text-decoration: none;
    }
}

@media screen and (min-width:501px) and (max-width:768px) {
    .menu {
        justify-content: end;
    }

    .shop-logo {
        height: 50px;
        margin: 2px;
    }

    .nav-options-div {
        font-size: 15px;
    }

    .nav-options {
        padding: 0px 0px;
        font-size: 15px;
    }

    .sections-container {
        display: flex;
        justify-content: space-between;
        margin: 5px 50px;
    }

    .footer-sections {
        margin-right: 10px;
        width: 100px;
    }

    .section-title {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .section-links {
        font-size: 15px;
    }

    .about-links {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    .section-links {
        padding: 0px;
        margin-left: 0px;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    .copyright {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .mail-link {
        text-decoration: none;
    }
}
.each-branch{
   display: flex;
   flex-direction: row;
   height: 400px;
   width: 900px;
   border: #f0c14a 2px solid ;
   margin:30px 400px;
   box-shadow:0px 20px 10px 2px rgb(138, 136, 136);
   
}
.each-branch:hover{
    transform: scale(1.15);
}
.map{
    padding:35px 35px;
}
.more-details{
   
    text-align: center;
    color: #efa9b1; ;
}
.owner-detail{
    margin-left: 50px;
}
.contact-visit{

    text-align: center;
    color: #8d5353;
}
.branch{
    text-align: center;
    color: #f0c14a;
    font-size: 60px;
}
.owner-img{
    border-radius: 50%;
    height: 100px;
    margin: 10px;
    margin-left:100px;
}
.tel-icon{
    height: 30px;
    margin:5px;
}
.wp-icon{
    height: 30px;
    margin:5px;
}
.email-icon{
    height: 30px;
    margin:5px;
}
.line {
    border: solid;
    color: #131212;
    Position: relative;
    Left: 0Px;
}
.owner-name{
    margin:10px;
    font-family: 'Times New Roman', Times, serif;
}
.text-decor{
    text-decoration: none;
    font-size: 35px;
    color: #131212;
    margin:5px
}