.heading {
    background-color: #ff0066;
    font-size: 50px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
}
.banner-card{
width: 100%;
height: 400px;
margin: 20px;
}



.banner-card1{
    width: 100%;
    height: 80px;
    margin: 20px;
    
}