
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}
.heading {
    background-color: #c289a0;
    font-size: 50px;
    text-align: center;
}
.heading1 {
    width: 230px;
    margin-left: 200px;
    text-align: center;
    padding: 8px 8px;
    font-size: large;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
    background-color: white;
    color: #b30059;
    border-radius: 10px;
    position: relative;
    left: 600px;
    left: 370px;
}

.heading1:hover {
    box-shadow: 10px 10px 10px 1px #cceeff ;
    background-color: white;
    color: #004080;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    
}

.banner-card{
    width: 370px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
     margin-left: 20px;
     margin-right: 20px;
    border-color: black;
    border-radius: 10px 10px 10px;
        
}
.banner-card:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #927676;
}
.banner-card1{
    
        width: 800px;
        
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px 10px 10px;
        
}
.banner-card1:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #514949;
}



.Card {
    width: 150px;
    height: 280px;
    border: 2px solid #4d0039;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 60px;
    box-shadow: 10px 10px 20px 1px #b3b3b3;
    display: inline-block;
    position: relative;
    bottom: 20px;
    position: relative;
    left: 30px;
    background-color: white;
}

.Card:hover {
    transition: 0.5s;
    border: 2px solid red;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
    transition: 0.5s;
    border: 2px solid red;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
    transform: scale(1.15);
}
.cloth {
    width: 150px;
    height: 130px;
    border-radius: 10px 10px 10px;
    display: inline-block;
}

.product-title {
    font-size: 13px;
    margin-left: 25px;
}

.product-price {
    padding-left: 20px;
    font-size: 15px;
}

.Stars {
    width: 80px;
    border-radius: 0;
    padding-left: 5px;
    position: relative;
    bottom: 15px;
}
.buy-btn {
   
    position: relative;
    bottom: 20px;
    left: 35px;
    background-color: #6699ff;
    border-color: #0055ff;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 12px;
}

.buy-btn:hover {
    background-color: #ffffff;
    color: #e60073;
    border-color: white;
}
.line
{
    height: 0.2px;
    width: 90%;
    color: black;
    border: 3px dashed  #f2f2f2;
}


.icon {
    height: 20px;
    position: relative;
    top: 5px;
}
.btn-1 {
    background-color: #e6e6e6;
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 15px;
    margin-left: 100px;
    padding-bottom: 12px;
    width: 240px;
    border: none;
    align-items: center;
    text-align: center;
    Position: relative;
    Left: 35Px;
    justify-content: space-between;
    color:#995c00 ;
   

}

.btn-1:hover {
    border-radius: 10px;
    border-color: white;
    transition: 0.5s;
    color: red;
    box-shadow: 10px 10px 10px 1px #f2f2f2;
   
}

/*check*/
@media screen and (max-width: 500px) {
    .container{
        height: 400px;
        width: 500px;
    }
    .banner-card{
        height: 350px;
        width: 500px;
    }
    .banner-card1{
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    .main-div{
        margin-left: 20px;
    }
.btn-1{
    width: 200px;
    margin: 10px;
    position: relative;
    left: 2px;
    justify-content: space-around;
}
.heading1 {
    position: relative;
    left: -60px;
}
.Card{
    left: 0px;
}
}





@media screen and (min-width:501px) and (max-width:768px) {
    .menu {
        justify-content: end;
    }

    .shop-logo {
        height: 50px;
        margin: 2px;
    }

    .nav-options-div {
        font-size: 15px;
    }

    .nav-options {
        padding: 0px 0px;
        font-size: 15px;
    }

    .sections-container {
        display: flex;
        justify-content: space-between;
        margin: 5px 50px;
    }

    .footer-sections {
        margin-right: 10px;
        width: 100px;
    }

    .section-title {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .section-links {
        font-size: 15px;
    }

    .about-links {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    .section-links {
        padding: 0px;
        margin-left: 0px;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    .copyright {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    .mail-link {
        text-decoration: none;
    }
}
.copyright {
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
/*
.container-2{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    margin: 15px;
    height: 600px;
    width: fit-content;

}
.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-style: dashed;
    margin: 15px;
    height: 400px;
    width: 1500px;
    padding-right: 30px;
}
.Card {
    position: relative;
    height:510px;
    width: 330px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px #999;

}
.card-image{
    display: flexbox;
    width: 300px;
    filter: drop-shadow(0px 0px 2px #9595b7);

    border-radius: 10px 5px 0px;
    height: 280px;
    background-color: bisque;
    margin: none;
}
.Card:hover{
    transition: 0.1s;
    border: 2px solid #040405;
    
}
.card-image:hover{
    transform: scale(0.99);

}

.pro-title{
    font-size: 30px;
    text-align: center;
}
.buy-button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
.buy-button:hover{
    transform: scale(0.99);
    box-shadow: #040405;

}
.pro-price{
    font-size: 30px;
}*/



