.heading {
    background-color: #c289a0;
    font-size: 50px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    
}

.banner-card{
    width: 380px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-color: black;
        border-radius: 10px 10px 10px;
        
}
.banner-card:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #927676;
}
.banner-card1{
        width: 800px;
        height; 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px 10px 10px;
        
}
.banner-card1:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #514949;
}



.Card {
    width: 150px;
    height: 280px;
    border: 2px solid #4d0039;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 70px;
    box-shadow: 10px 10px 20px 1px #b3b3b3;
    display: inline-block;
    position: relative;
    bottom: 20px;
    position: relative;
    left: 30px;
    background-color: white;
}

.Card:hover {
    transition: 0.5s;
    border: 2px solid red;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
}
.cloth {
    width: 150px;
    height: 130px;
    border-radius: 10px 10px 10px;
    display: inline-block;
}

.product-title {
    font-size: 13px;
    margin-left: 25px;
}

.product-price {
    padding-left: 20px;
    font-size: 15px;
}

.Stars {
    width: 80px;
    border-radius: 0;
    padding-left: 5px;
    position: relative;
    bottom: 15px;
}
.buy-btn {
   
    position: relative;
    bottom: 15px;
    left: 35px;
    background-color: #6699ff;
    border-color: #0055ff;
    color: white;
    border-radius: 10px;
    padding: 6px 6px 6px 6px;
    font-size: 12px;
}

.buy-btn:hover {
    background-color: #ffffff;
    color: #e60073;
    border-color: white;
}
.line
{
    height: 0.2px;
   
    width: 90%;
    color: black;
}
/*
.container-1{
    display: flex;
    justify-content: space-around;
    border-style: dashed;
    margin: 15px;
    height: 400px;
    width: 1500px;
    padding-right: 30px;
}.container-2{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    margin: 15px;
    height: 600px;
    width: fit-content;

}
.Card {
    position: relative;
    height:510px;
    width: 330px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px #999;

}
.card-image{
    display: flexbox;
    width: 300px;
    filter: drop-shadow(0px 0px 2px #9595b7);

    border-radius: 10px 5px 0px;
    height: 280px;
    background-color: bisque;
    margin: none;
}
.Card:hover{
    transition: 0.1s;
    border: 2px solid #040405;
    
}
.card-image:hover{
    transform: scale(0.99);

}

.pro-title{
    font-size: 30px;
    text-align: center;
}
.buy-button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}
.buy-button:hover{
    transform: scale(0.99);
    box-shadow: #040405;

}
.pro-price{
    font-size: 30px;
}*/



