body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f2f4;
}

.colors {
    color: #3db6bc;
    color: #054b4e;
    color: black;
    color: white;

}


.nav-bar {
    background-color: #3db6bc;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

.shop-logo {
    height: 60px;
    margin: 5px;
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options-div {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-options-div:hover {
    background-color: transparent;
    color: white;
}
.special-option {
    padding: 5px 10px;
    font-size: 20px;
}

.nav-options {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    padding: 5px;
}

.more-options {
    position: relative;
}
.more-options-list {
    visibility: hidden ;
    position: absolute;
    background-color: #3db6bc;
    top: 10px;
    left: 10px;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
}
.more-options:hover > .more-options-list{
    visibility:visible;
}
.list-anchors{
    text-decoration: none;
    color:black;
}
.list-anchors:hover{
    color: white;
}


/* combination of selectors*/
.nav-options-div:hover>.nav-options {
    color: white;
}

.footer {
    background-color: #033a3d;
    margin-top: 500px;
    padding: 10px 0;

}

.sections-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

.footer-sections {
    width: 200px;
    color: white;
    background-color: transparent;
}

.section-title {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-links {
    text-decoration: none;
    color: white;
}

.section-links {
    margin-left: 15px;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.about-links {
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.main{
    padding: 15px 10px;
}
.cloths {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
h1 {
 text-align: center;

}
.cloths .item {
    text-align: center;
    margin-bottom: 20px;
}

.cloths img {
    width: 240px; 
    height: 160px;
    border-radius: 50%;
    
}

.cloths img:hover{

    transform: scale(1.1);

}

.cloths p {
    margin-top: 5px;
}
.box img {
    width: 70%;
}
.container {
    display: flex;
    font-size: 20px;
    background-color:rgb(129, 131, 135);
    color: #fff;
}

.box {
    width: 25%;
}

.content {
    padding: 20px;
}

.container li{
    padding: 10px;
}
.container img {
    width: 75%;
    height: 450px;
}


.item {
    width: 150px; 
    margin: 10px;
}

.item img {
    width: 100%; 
    border-radius: 50%; 
}
.item a{ 
display: block;
margin: 18px 18px;
position: relative;
top: 20px;
border: 2px solid black;
border-radius:50%;
padding: 25px;
}