body {
    margin: 0px;
    padding: 0px;
    background-color: #f0c14a;
}

.colors {
    color: #3db6bc;
    color: #054b4e;
    color: black;
    color: white;
    color: #efa9b1;
    color: #f0c14a;
    color:#e1b9b9;
}


.nav-bar {
    background-color:#efa9b1;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

.shop-logo {
    height: 60px;
    margin: 5px;
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options-div {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-options-div:hover {
    background-color: transparent;
    color: white;
}
.special-option {
    padding: 5px 10px;
    font-size: 20px;
}

.nav-options {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 5px;
}

.more-options {
    position: relative;
}
.more-options-list {
    visibility: hidden ;
    position: absolute;
    background-color: #efa9b1;
    margin: 0;
    top: 20px;
    left: 10px;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
}
.more-options:hover > .more-options-list{
    visibility:visible;
}
.list-anchors{
    text-decoration: none;
    color:black;
}
.list-anchors:hover{
    color: white;
}


/* combination of selectors*/
.nav-options-div:hover>.nav-options {
    color: white;
}

.footer {
    background-color: #ffe6a7;
    padding: 10px 0;

}

.sections-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

.footer-sections {
    width: 200px;
    color: black;
    background-color: transparent;
}

.section-title {
    font-size: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-weight: 800;
}

.about-links {

    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.section-links {
    margin-left: 15px;
    color: black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;;
    font-weight: 600;
}
.section-links :hover{
    color: rgb(205, 58, 44);
}

.about-links {
    font-size: 17px;
    text-decoration: none;
    color: black;
}