body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.colors {
    color: #3db6bc;
    color: #054b4e;
    color: black;
    color: white;
    color: #efa9b1;
    color: #f0c14a;
    color:#e1b9b9;
}


.nav-bar {
    background-color:#efa9b1;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
}

.shop-logo {
    height: 60px;
    margin: 5px;
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options-div {
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 0 10px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-options-div:hover {
    background-color: transparent;
    color: white;
}
.special-option {
    padding: 5px 10px;
    font-size: 20px;
}

.nav-options {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 5px;
}

.more-options {
    position: relative;
}
.more-options-list {
    visibility: hidden ;
    position: absolute;
    background-color: #efa9b1;
    margin: 0;
    top: 20px;
    left: 10px;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
}
.more-options:hover > .more-options-list{
    visibility:visible;
}
.list-anchors{
    text-decoration: none;
    color:black;
}
.list-anchors:hover{
    color: white;
}
@media screen and (max-width: 500px)  {
    .nav-bar{
        flex-direction: column;
    } 
    .shop-logo{
        margin-left: 100px;
    }
    .menu{
        font-size: 5px;
    }
    
}

/* combination of selectors*/
.nav-options-div:hover>.nav-options {
    color: white;
}

.footer {
    background-color: #ffe6a7;
    padding: 10px 0;

}

.sections-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

.footer-sections {
    width: 200px;
    color: black;
    background-color: transparent;
}

.section-title {
    font-size: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-weight: 800;
}

.about-links {

    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.section-links {
    margin-left: 15px;
    color: black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;;
    font-weight: 600;
}
.section-links :hover{
    color: rgb(205, 58, 44);
}

.about-links {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.fashion-card1{
    width: 490px;
    height: 250px;
    position: relative;
    left: 30px;
    margin: 10px;
}


.fashion-card {
    width: 620px;
    height: 300px;
    margin: 40px;
    Position:relative;
    Left: 60Px;

.fashion-card1:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #b3b3b3;
    border-radius: 10px;
}
.fashion-card2{
    width: 490px;
    height: 250px;
    margin: 10px;
    position: relative;
    left: 30px;

}

.fashion-card2:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 20px 1px #b3b3b3;
    border-radius: 10px;
}

.Card {
    width: 140px;
    height: 280px;
    border: 2px solid #4d0039;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
    box-shadow: 10px 10px 20px 1px #b3b3b3;
    display: inline-block;
    position: relative;
    bottom: 20px;
    position: relative;

    left: 100px;

    left: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Card:hover {
    transition: 0.5s;
    border: 2px solid red;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
}

.icon {
    height: 20px;
    position: relative;
    top: 5px;
}



.cloth-image {
    width: 140px;
    height: 130px;
    border-radius: 10px 5px 0px;
    display: inline-block;
}

.product-title {
    font-size: 13px;
    margin-left: 25px;
}

.product-title1 {
    font-size: 13px;
    margin-left: 50px;

}

.product-title2 {
    font-size: 12px;
    margin-left: 35px;

}

.product-price {
    padding-left: 20px;
    font-size: 15px;
}

.Stars-image {
    width: 80px;
    border-radius: 0;
    padding-left: 5px;
    position: relative;
    bottom: 15px;
}

.heading1 {
    width: 230px;
    margin-left: 20px;
    text-align: center;
    padding: 8px 8px;
    font-size: large;
    box-shadow: 10px 10px 10px 2px #b3b3b3;
    background-color: white;
    color: #b30059;
    border-radius: 10px;
    position: relative;

    left: 600px;

    left: 370px;

}

.heading1:hover {
    box-shadow: 10px 10px 10px 2px #b3b3b3;
    background-color: white;
    color: #004080;
}


.btn-buy-now {
    position: relative;
    bottom: 15px;
    left: 35px;
    background-color: #6699ff;
    border-color: #0055ff;
    color: white;
    border-radius: 10px;
}

.btn-buy-now:hover {
    background-color: #ffffff;
    color: #e60073;
    border-color: white;
}

.line {
    border: dashed;
    color: #f2f2f2;
    Position:relative;
    Left :40Px;
}

.btn-1 {
    background-color: #e6e6e6;
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 15px;
    margin-left: 38px;
    padding-bottom: 12px;
    width: 220px;
    border: none;
    align-items: center;
    text-align: center;

    Position:relative;
    Left :90Px;

    justify-content: space-between;
   
}
.btn-1:hover{
    border-radius: 10px;
    border-color: white;
    transition: 0.5s;

}
.link {
    text-decoration: none;
    margin-left: 20px;
    position: relative;

    left: 500px;
    left: 350px;

    width: 230px;
    text-align: center;
    padding: 10px 10px;
    font-size: large;
    background-color:white;
    color:blue;
    border-radius: 10px;
}
.social-media {
      text-align: center;
      color:#800040;
      font-size: 30px;
}
.social-logo1 {
    width: 50px;
    position: relative;
    left: 390px;
    bottom: 5px;
    margin-left: 10px;
}
.social-logo2 {
    width: 60px;
    position: relative;
    left: 390px;
    bottom: 0px;
    margin-left: 10px;
}
.social-logo3 {
    width: 55px;
    position: relative;
    left: 390px;
    bottom: 3px;
    margin-left: 10px;
   
}
.social-logo4 {
    width: 50px;
    position: relative;
    left: 390px;
    bottom: 5px;
    margin-left: 10px;
}